<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>buy</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<style>
    r {
        font-color: red;
}
</style>
<body>

<article>
        <header>

        </header>


        <section>
            <nav class="blue">
    <div class="nav-wrapper">
      <ul class="left hide-on-med-and-down">
          <li class="tab"><a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a></li>
          <li class="tab"><a href="/"><i class="medium material-icons">home</i></a></li>
          <li class="tab"><a href="kola">kola</a></li>
          <li class="tab"><a href="lyze">lyže</a></li>
          <li class="tab"><a href="brusle">brusle</a></li>


      </ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          {% if user %}
              <li> <i class="medium material-icons"><a href="/basket">shopping_cart</a></i></li>
              <li> <i class="small material-icons"> person</i></li>
              <b><li><span>{{user}}</span></li></b>
              <li> <span><a class="waves-effect waves-light btn" href="/logout">logout</a></span></li>
          {% else %}
              <li><a href="login">Přihlásit se</a></li>
              <li><a href="registrace">Registrace</a></li>
          {% endif %}
      </ul>


    </div>


  </nav>
        <h3>{{item.name}}</h3>

 <img src="/images/{{item.obrazek}}" width="1000px" height="500px">
            <div class="row">
      <div class="row">
        <div class="input-field col s6">
            <b><h4>cena: {{item.cena}} kč</h4> </b>



        </div>
      </div>
      {% if item.typ == "brusle"%}
      <div class="row">
     <div class="input-field col s12">
    <select>
      <option value="" disabled selected>Vyberte velikost</option>
      <option value="1">35-37</option>
      <option value="2">38-39</option>
      <option value="3">40-42</option>
        <option value="3">43-45</option>
    </select>

  </div>
      </div>
    {% endif %}

      <div class="row">
        <div class="input-field col s12">
            <b><h4>popis produktu:</h4> <h5>{{item.popis}}</h5></b>
        </div>

       <div class="row">
        <form method="POST" action="/basket">
            {% csrf_token %}
            <div class="input-field col s12">
                {% if user %}
                      <button class="btn waves-effect waves-light" type="submit"><b>přidat do košíku</b>
                        <i class="material-icons right">send</i>
                      </button>
                {%endif%}

            {% if not user %}
                <button class="btn disabled" type="submit"><b>přidat do košíku</b></button>
                <font color="red"><b>abys produkt mohl koupit, musíš se přihlásit</b></font>

            {%endif%}
           </div>
        </form>
      </div>

  </div>


        </section>
</article>



</body>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
      document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('select').formSelect();
  });

      </script>
</html>